body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#cal-body {
  width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border: 2px solid black;
}
#button-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: brown;
}
#display {
  height: 50px;
}
.keys-row,
#top-row {
  flex-grow: 1;

  display: flex;
}

button {
  flex-grow: 1;
  border-radius: 20%;
  margin: 2px;
  font-size: larger;
}
